.watcher-notification-box {
    position: absolute;
    top: 20px;
    right: 20px;
    min-height: 50px;
    max-width: 300px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 2px solid seagreen;
    border-radius: 5px;
    z-index: 200323224421;
    background-color: seagreen;
    color: white;
    font-size: 16px;
    animation: show .8s linear;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

.watcher-notification-box:after {
    content: '';
    display: block;
    position: absolute;
    top: calc(50% - 15px);
    right: -15px;
    border-left: 20px solid seagreen;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

.watcher-translate-box {
    max-width: 200px;
    min-height: 20px;
    border-radius: 8px;
    border: 2px solid #333;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
    position: absolute;
    z-index: 196263411123;
}
